.register-form__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.register-form__heading {
    margin-bottom: 40px;
    text-align: center;
}

.form {
    margin: 0 auto;
    width: 70%;
    text-align: center;
}

.form__group {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 20px;
}

.form__group-title {
    width: 200px;
    display: flex;
    justify-content: space-between;
    transform: translateY(-10px);
}

.form__group-last {
    width: 200px;
    display: flex;
    justify-content: space-between;
}
.form__label-item {
    font-weight: bold;
}

.form__label--required {
    margin-left: 5px;
    padding: 4px 6px;
    border-radius: 3px;
    background: #fafafa;
    color: #aaa;
    text-shadow: none;
}

.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
    font-weight: bold;
}

input {
    padding: 10px;
    width: 600px;
    border: 1px solid #ddd;
    border-radius: 3px;
    height: 40px;

    appearance: none;
}
