.thanks__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.thanks__heading {
    margin-bottom: 40px;
    text-align: center;
    margin: 0 auto;
}

.thanks__content picture {
    display: block;
    margin: 0 auto;
    text-align: center;
}
picture img {
    width: 40%;
}